.container-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

header {
    padding: 1em 0;
    background-color: white;
}

.logo-title {
    display: flex;  
    color: #50850c;
}

.logo-title h1 {
  margin-right: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 3em;
    cursor: pointer;
    padding: 1em 0;
}

nav li:hover {
    font-weight: bold;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    padding: .25em 0;
    
}

.current:hover {
    border-bottom: 1px solid #50850c;
}

@media (max-width: 760px) {
    .container-nav {
        flex-direction: column;
    
    }

    nav ul {
       flex-direction: column;
    }

    nav li {
        margin: 0;
    }
}