.feature-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 5em;
}

.feature-container img {
    width: 10em;
}

.text-left {
    padding-right: 5em;
}

.text-right {
    padding-left: 5em;
}

.learn-button {
    border: 2px solid #6ec72d;
    box-shadow: 3px 5px 5px #6ec72e;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}