footer {
    color: black;
    background: url('Netz_Footer.svg') no-repeat center center; 
    background-size: cover;
    background-color: #e8fcce;
    padding: 5em 0;
}

.container-footer, .bottom-line {
    display: flex;
    justify-content: space-between;
}

.footer-right, .bottom-right {
    display: flex;
}

.col-right {
    padding: 0 5em;
}

h4, .bottom-line, .email {
    color: #50850c;  
}

.email {
    font-weight: bolds;
}

.bottom-line {
    padding: 3em 0;
}

.bottom-right p {
    padding-left: 2em;
} 

@media (max-width: 750px) {
    .container-footer, .bottom-line {
        flex-direction: column;

    }

    .logo-title   {
        padding: 0;
        display: inline-block;
    }
    .logo-title h1  {
        padding: 0;
        display: inline-block;
        margin-right: 2em;
    }

    .col-left, .footer-right,  .bottom-right {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
 
}