.banner {
    min-width: 100%;
    height: 800px;
    background: url('Illustration_Textured.jpg') no-repeat center center; 
    background-size: cover;
}

.banner-text {
    padding: 5em 0;
}

.fade-in {
	animation: fadeIn 3s;
  	opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }
